@import 'tailwindcss';
@source '../components/**/*.{tsx,ts,jsx,js}';
@source '../app/**/*.{tsx,ts,jsx,js}';

:root {
	--dp-softer-ma-cream: #fff1e2;
	--dp-highlighter-ma-green: #447838;
	--dp-ma-red: #a01d29;
	--dp-ma-orange: #ed8023;
	--dp-green: #00d85c;
	--dp-light-gray: #efefef;
	--primary-font: 'Croissant One', serif;
	--secondary-font: 'Poppins', sans-serif;
}

@theme inline {
	--color-dp-bg: var(--dp-softer-ma-cream);
	--color-dp-softer-ma-cream: var(--dp-softer-ma-cream);
	--color-dp-highlighter-ma-green: var(--dp-highlighter-ma-green);
	--color-dp-light-gray: var(--dp-light-gray);
	--color-dp-green: var(--dp-green);
	--color-dp-ma-red: var(--dp-ma-red);
	--color-dp-ma-orange: var(--dp-ma-orange);

	--font-Croissant: var(--primary-font);
	--font-Poppins: var(--secondary-font);

	--radius-dp-20: 1.25rem;

	--spacing-112: 28rem;
	--spacing-150: 37.5rem;
	--spacing-375: 93.75rem;
	--spacing-425: 106.25rem;
}

@layer base {
	body {
		@apply text-dp-highlighter-ma-green font-Poppins text-base lg:text-lg;
	}

	section {
		@apply w-full py-10 lg:py-20;
	}

	p {
		@apply font-Poppins text-base lg:text-lg;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-Croissant font-bold;
	}
}

.dp-container {
	@apply mx-auto w-11/12 max-w-425;
}
