@import 'tailwindcss';

:root {
	--dp-softer-ma-cream: #fff1e2;
	--dp-highlighter-ma-green: #447838;
	--dp-ma-red: #a01d29;
	--dp-ma-orange: #ed8023;
	--dp-green: #00d85c;
	--dp-light-gray: #efefef;
	--primary-font: 'Croissant One', serif;
	--secondary-font: 'Poppins', 'sans';
}

@theme {
	--color-dp-bg: var(--dp-softer-ma-cream);
	--color-dp-softer-ma-cream: var(--dp-softer-ma-cream);
	--color-dp-highlighter-ma-green: var(--dp-highlighter-ma-green);
	--color-dp-light-gray: var(--dp-light-gray);
	--color-dp-green: var(--dp-green);
	--color-dp-ma-red: var(--dp-ma-red);
	--color-dp-ma-orange: var(--dp-ma-orange);

	--font-primary-font: var(--primary-font);
	--font-secondary-font: var(--secondary-font);

	--radius-dp-20: 1.25rem;
	--spacing-375: 93.75rem;
}

body {
	@apply text-dp-highlighter-ma-green font-secondary-font;
}

section {
	@apply mx-auto w-11/12 max-w-375;
}

.dp-container {
	@apply mx-auto w-11/12 max-w-375;
}

p {
	@apply font-secondary-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-primary-font font-bold;
}
