@import 'tailwindcss';

:root {
	--dp-softer-ma-cream: #fff1e2;
	--dp-highlighter-ma-green: #447838;
	--dp-ma-red: #a01d29;
	--dp-ma-orange: #ed8023;
	--dp-green: #00d85c;
	--dp-light-gray: #efefef;
	--primary-font: 'Croissant One', serif;
	--secondary-font: 'Poppins', 'sans';
}

@theme inline {
	--color-dp-bg: var(--dp-softer-ma-cream);
	--color-dp-softer-ma-cream: var(--dp-softer-ma-cream);
	--color-dp-highlighter-ma-green: var(--dp-highlighter-ma-green);
	--color-dp-light-gray: var(--dp-light-gray);
	--color-dp-green: var(--dp-green);
	--color-dp-ma-red: var(--dp-ma-red);
	--color-dp-ma-orange: var(--dp-ma-orange);

	--font-primary-font: var(--primary-font);
	--font-secondary-font: var(--secondary-font);

	--radius-dp-20: 1.25rem;
}

body {
	@apply text-dp-highlighter-ma-green font-secondary-font;
}

section {
	@apply mx-auto w-11/12 max-w-[1500px];
}

p {
	@apply font-secondary-font text-xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-dp-ma-red font-primary-font font-bold;
}

h1 {
	font-size: 4.375rem;
	line-height: 1.1em;
}

h2 {
	font-size: 4rem;
	line-height: 1.3em;
}

h3 {
	font-size: 3.4375rem;
	line-height: 1.2em;
}

h4 {
	font-size: 2.75rem;
	line-height: 1.3em;
}

h5 {
	font-size: 2.375rem;
	line-height: 1.3em;
}

h6 {
	font-size: 2rem;
	line-height: 1.3em;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 3.1rem;
	}

	h3 {
		font-size: 2.75rem;
	}

	h4 {
		font-size: 2.35rem;
	}
}

@media screen and (max-width: 500px) {
	body,
	p {
		font-size: 0.87rem;
	}

	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2.2rem;
	}

	h3 {
		font-size: 2rem;
	}

	h4 {
		font-size: 1.9rem;
	}
}
