@import 'tailwindcss';
@source '../components/**/*.{tsx,ts,jsx,js}';
@source '../app/**/*.{tsx,ts,jsx,js}';

:root {
	--dp-softer-ma-cream: #fff1e2;
	--dp-highlighter-ma-green: #447838;
	--dp-ma-red: #a01d29;
	--dp-ma-orange: #ed8023;
	--dp-green: #00d85c;
	--dp-light-gray: #efefef;
	--primary-font: 'Croissant One', serif;
	--secondary-font: 'Poppins', sans-serif;
}

@theme inline {
	--color-dp-bg: var(--dp-softer-ma-cream);
	--color-dp-softer-ma-cream: var(--dp-softer-ma-cream);
	--color-dp-highlighter-ma-green: var(--dp-highlighter-ma-green);
	--color-dp-light-gray: var(--dp-light-gray);
	--color-dp-green: var(--dp-green);
	--color-dp-ma-red: var(--dp-ma-red);
	--color-dp-ma-orange: var(--dp-ma-orange);

	--font-Croissant: var(--primary-font);
	--font-Poppins: var(--secondary-font);

	--radius-dp-20: 1.25rem;

	--spacing-112: 28rem; /* 448px */
	--spacing-120: 30rem; /* 480px */
	--spacing-125: 31.25rem; /* 500px */
	--spaceging-130: 32.5rem; /* 520px */
	--spacing-137.5: 34.375rem; /* 550px */
	--spacing-150: 37.5rem; /* 600px */
	--spacing-150: 37.5rem; /* 600px */
	--spacing-225: 56.25rem; /* 900px */
	--spacing-375: 93.75rem; /* 1500px */
	--spacing-425: 106.25rem; /* 1700px */
}

@layer base {
	body {
		@apply text-dp-highlighter-ma-green font-Poppins text-base lg:text-lg;
	}

	section {
		@apply w-full py-10 lg:py-20;
	}

	p {
		@apply font-Poppins text-base lg:text-lg;
	}

	button {
		@apply cursor-pointer;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-Croissant font-bold;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

.dp-container {
	@apply mx-auto w-11/12 max-w-425;
}
